<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "STS", root_path, class: "brand" %>
        <ul class="nav pull-right">
          <li><a href="/users/sign_up">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>

          <% if flash[:alert] %>
              <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>

                <p><%= flash[:alert] %></p>
              </div>
          <% end %>

          <fieldset>
            <legend>Login</legend>
            <div class="control-group email optional">
              <label class="email optional control-label" for="user_email"> Email</label>

              <div class="controls">
                <%= f.email_field :email, :autofocus => true %>
              </div>
            </div>

            <div class="control-group password optional">
              <label class="password optional control-label" for="user_password"> Password</label>

              <div class="controls">
                <%= f.password_field :password %>
              </div>
            </div>

            <div class="form-actions" style="margin-bottom:0">
              <%= f.submit 'Login', :class => 'btn btn-primary' %>
              <%= link_to 'Back', root_path, :class => 'btn' %>
              <%= link_to "Forgot password？", new_password_path(resource_name), class: "btn btn-warning", style: "color:white; float:right" %>
            </div>
          </fieldset>
      <% end %>
    </div>
  </div>

  <hr>

  <footer>
    <p>YCB &copy; All Rights Reserved.</p>
  </footer>

</div>